html, body {
  margin: 0;
  height: 100%;
}

body {
  position: relative;
  font-size: 16px;
  height: 100%;
  background-color: #f4f5f7;
  overflow: hidden;
  z-index: 0;
  font-family: 'Roboto', sans-serif;
}

.main-header {
  height: 44px;
}

.main-content {
  height: 100%;
  position: relative;
}

.board-view {
  background-image: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/1536x1920/64c23874efb046b7c4a9c7555a420b75/photo-1581568684505-c2a418399e00.jpg");
  height: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-position: 50%;
  background-size: cover;
}

.list-wrapper {
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  margin: 0 4px;
  vertical-align: top;
  white-space: nowrap;
  width: 272px;

  &:first-child {
    margin-left: 12px;
  }
}

.list {
  background-color: #ebecf0;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  position: relative;
  white-space: normal;
  width: 100%!important;
}

.list-header {
  flex: 0 0 auto;
  min-height: 20px;
  padding: 10px 8px;
  position: relative;
}

.list-cards {
  flex: 1 1 auto;
  margin: 0 4px;
  min-height: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 4px;
  z-index: 1;
}

.list-card {
  position: relative;
  text-decoration: none;
  z-index: 0;

  margin-bottom: 10px;

  &-details {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 #091e4240;
    cursor: pointer;
    display: block;
    max-width: 300px;
    min-height: 20px;
    overflow: hidden;
    padding: 6px 8px 2px;
    position: relative;
    z-index: 10;

    .icon-close {
      position: absolute;
      top: 5px;
      right: 5px;
      display: none;
    }

    &:hover {
      .icon-close {
        display: block;
      }
    }
  }

  &.card-selected {
    .list-card-details {
      background: darken(#ebecf0, 4);
      box-shadow: none;
      .text, .icon-close {
        opacity: 0;
      }
    }
  }

  &.available {
    &:before {
      display: block;
      content: '';
      height: 2rem;
    }
  }

  &.card-cloned {
    position: absolute;
    z-index: 99;
    cursor: grabbing;
    transform: rotate(-2deg);
    .text, .list-card-details, .icon-close {
      cursor: grabbing;
    }
  }

  .popover {
    position: absolute;
    top: 5px;
    right: 24px;
    background: #fff;
    font-size: 0.85rem;
    border-radius: 3.5px;
    z-index: 12;
  }
}

.card-composer-container {
  display: flex;
  justify-content: space-between;
  max-height: 38px;
  min-height: 38px;
}

.open-card-composer {
  border-radius: 3px;
  color: #5e6c84;
  display: flex;
  flex: 1 0 auto;
  margin: 2px 0 8px 8px;
  padding: 4px 8px;
  position: relative;
  text-decoration: none;
  -webkit-user-select: none;
  user-select: none;

  .icon-add {
    color: #6b778c;
    margin-right: 2px;
    font-size: 16px;
    height: 20px;
    line-height: 20px;
    width: 20px;
  }
}

.board {
  bottom: 0;
  left: 0;
  margin-bottom: 8px;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 8px;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-user-select: none;
  user-select: none;
  white-space: nowrap;
}

.card-composer {
  padding-bottom: 8px;
}

.list-card-composer {
  .list-card-details {
    margin-bottom: 4px;
  }
}

.list-card-composer-textarea {
  height: 65px;
  width: 100%;
  max-width: 100%;
  padding: 0;
  border: none;
  margin-bottom: 3px;
  font-family: inherit;
  outline: none;
  resize: none;
}

button {
  background-color: #026aa7;
  border: none;
  box-shadow: none;
  color: #fff;
  padding: 6px 14px;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background-color: darken(#026aa7, 10);
  }
}


.cc-controls-section {
  display: flex;
  align-items: center;

  button {
    margin-right: 10px;
  }
}

.icon-close {
  width: 16px;
  opacity: 0.5;
  &:before {
    display: block;
    content: '';
    width: 16px;
    height: 16px;
    background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 352 512'%3E%3Cpath fill='currentColor' d='M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z' class=''%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
